/*!
 * Feuille de style de la page d'accueil support de présentation
 * Poullette Corinne - 2016
 */

/* Fonts  */
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/LatoLatin-Bold.woff2') format('woff2'),
         url('../fonts/lato/LatoLatin-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'open_sanslight', sans-serif;
	-webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
.navbar {
  background-color: #770108;
}
.navbar .navbar-nav > .active,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  background: #aa000a;
  color: #eee;
}
.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #aa000a;
  color: #eee;
}

p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #714e4f;
  outline: none;
}
h1,
h2,
h3,
h4{
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h5, h6 {
	color: #666;
	font-family: 'lato', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #714e4f;
  color: white;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #714e4f;
  color: white;
}
header .container {
  padding-bottom: 40px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  color:#333;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 10px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
    
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}


section {
  padding: 10px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success, section.success a {
  background: #714e4f;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
section.intro{
  padding-top:70px;
}

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #770108;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #770108;
}
.btn-primary {
  color: white;
  background-color: #770108;
  border-color: #ff377a;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #aa000a;
  border-color: #770108;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary .badge {
  color: #ff377a;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #714e4f;
  border-color: #714e4f;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #714e4f;
  border-color: #714e4f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success .badge {
  color: #714e4f;
  background-color: white;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}

.alert{
  margin-top:7px;
}

